
    <h1 class="page-header">Forms</h1>


    <ul class="nav nav-tabs">
        <li ng-class=" {'active':$location.url() =='/forms'}" ><a href="#/forms">Forms</a></li>
        <li ng-class=" {'active':$location.url() =='/fields'}" ><a href="#/fields">Fields</a></li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-body ">
        <div class="table-responsive">
        <table class="table table-bordered table-striped nowrap">
            <tr>
                <td>
                    <a class="admin-table-glyphicons-links glyphicon glyphicon-triangle-bottom"></a>
                    <span class="admin-table-header-links">Form Name</span> </td>
                <td>
                    <a class="admin-table-glyphicons-links glyphicon glyphicon-triangle-bottom"></a>
                    <span class="admin-table-header-links">Action</span> </td>

            </tr>
            <tr>
                <td><input type="text" class="form-control" id="inputFormname" placeholder="name" ng-model="title"></td>
                <td class ="admin-table-columns-links">
                    <a><span class = "glyphicon glyphicon-plus admin-table-glyphicons-rows-links" ng-click="addForm($index)"></span></a>
                    <a><span class = "glyphicon glyphicon-ok admin-table-glyphicons-rows-links" ng-click="updateForm(title)"></span></a></td>
            </tr>

            <tr ng-repeat="form in allforms">
                <td>
                    {{form.title}}
                </td>
                <td class ="admin-table-columns-links">
                <a><span class = "glyphicon glyphicon-remove admin-table-glyphicons-rows-links" ng-click="deleteForm($index)"></span></a>
                <a><span class = "glyphicon glyphicon-pencil admin-table-glyphicons-rows-links" ng-click="selectForm($index)"></span></a>

                </td>

            </tr>
        </table>
    </div>
    </div>
</div>

