<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span ng-class=" {'active':$location.url() =='/home'} " ><a class="navbar-brand" href="#/home">Form Maker</a></span>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="visible-xs"  ng-if="loggedUser.roles.indexOf('admin')> - 1" ng-class=" {'active':$location.url() =='/admin'}" ><a href="#/admin">Admin</a></li>
                <li class="visible-xs"  ng-if="loggedUser" ng-class=" {'active':$location.url() =='/forms'}" ><a href="#/forms">Forms</a></li>

                <li ng-if = "!loggedUser" ng-class=" {'active':$location.url() =='/register'}" ><a href="#/register">Register</a></li>
                <li ng-if = "!loggedUser" ng-class=" {'active':$location.url() =='/login'}" ><a href="#/login">Login</a></li>
                <li ng-if = "loggedUser" ng-click="user()" ng-class=" {'active':$location.url() =='/username'}" ><a href="#/profile">{{ loggedUser.username}}</a></li>
                <li ng-if = "loggedUser" ng-click="logout()" ng-class=" {'active':$location.url() =='/logout'}" ><a href="#/logout">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>
