<div ng-click="showProfileDiv()">
    <h1 class="page-header" >Personal Information</h1>
</div>

<div ng-show="showProfile">
    <div class="well">

        <h4 style="margin-top: -8px;"><label>Username</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" id="inputUserName" placeholder="Username" ng-model='loggedUser.username'>
        </div>
        <h4><label>Password</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model='loggedUser.password'>
        </div>
        <h4><label>First Name</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-font"></span>
            </span>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model='loggedUser.firstName'>
        </div>
        <h4><label>Last Name</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-font"></span>
            </span>
            <input type="text" class="form-control" id="inputlastName" placeholder="Last Name" ng-model='loggedUser.lastName'>
        </div>
        <h4><label>Email</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model='loggedUser.emails'>
        </div>
    </div>

    <button type="submit" class="btn btn-block btn-primary" ng-click="update(loggedUser)">Update</button>
</div>

<div ng-click="showCategoriesDiv()" >
    <h1 class="page-header">Personalize Feed</h1>
</div>

<div ng-show="showCategories">

    <ul ui-sortable="sortableOptions" class="well removeBullets" ng-model="categories" >

        <li class= "well personalisecCategories draggable-sign categoriesWell" ng-repeat="category in categories">
            <h3>
                <i class="glyphicon glyphicon-tags categoryLeftpadding" aria-hidden="true"></i>
                <label ng-style="category.color" >{{category.name}}</label>
                <i ng-show= "category.selected" class="fa fa-trash-o fa-2x pull-right highlight-text-fonts class-pointer allignGlyphicons" aria-hidden="true" ng-click="removeCategory(category.name)"></i>
                <i ng-show= "!category.selected" class="fa fa-undo fa-2x pull-right highlight-text-fonts class-pointer allignGlyphicons"  aria-hidden="true" ng-click="undoCategory(category.name)"></i>
            </h3>
        </li>
        <br>
        <!--<input type="text" class="" placeholder="Add New Category" ng-model="newCategory">-->

        <div class="form-group has-feedback" ng-class="hasError">
            <input type="text" class="form-control" placeholder="Add New Category" ng-model="newCategory" style="padding: 30px;margin-top: 11px;"/>
            <i class="glyphicon glyphicon-plus form-control-feedback highlight-text-fonts class-pointer newCategoryGlyphicon" ng-click="addNewCategory(newCategory)" ></i>
        </div>

    </ul>

    <button type="submit" class="btn btn-block btn-primary" ng-click="updateCategory()">Update</button>
    <!--<button type="submit" class="btn btn-block btn-primary" ng-click="print()">Update</button>-->

</div>



