<div ng-click="showProfileDiv()">
    <h1 class="page-header highlight-text-fonts class-pointer" >Personal Information</h1>
</div>

<div ng-show="showProfile">
    <div class="well">

        <h4 style="margin-top: -8px;"><label>Username</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" id="inputUserName" placeholder="Username" ng-model='loggedUser.username'>
        </div>
        <h4><label>Password</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model='loggedUser.password'>
        </div>
        <h4><label>First Name</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-font"></span>
            </span>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model='loggedUser.firstName'>
        </div>
        <h4><label>Last Name</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-font"></span>
            </span>
            <input type="text" class="form-control" id="inputlastName" placeholder="Last Name" ng-model='loggedUser.lastName'>
        </div>
        <h4><label>Email</label></h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model='loggedUser.emails'>
        </div>
    </div>

    <button type="submit" class="btn btn-block btn-primary" ng-click="update(loggedUser)">Update</button>
</div>

<div ng-click="showCategoriesDiv()" >
    <h1 class="page-header highlight-text-fonts class-pointer">Personalize Feed</h1>
</div>

<div ng-show="showCategories">

    <ul ui-sortable="sortableOptions" class="well removeBullets" ng-model="categories" >

        <li class= "well personalisecCategories draggable-sign categoriesWell" ng-repeat="category in categories">
            <h3>
                <i class="glyphicon glyphicon-tags categoryLeftpadding" aria-hidden="true"></i>
                <label ng-style="category.color" >{{category.name}}</label>
                <i ng-show= "category.selected" class="fa fa-trash-o fa-2x pull-right highlight-text-fonts class-pointer allignGlyphicons" aria-hidden="true" ng-click="removeCategory(category.name)"></i>
                <i ng-show= "!category.selected" class="fa fa-undo fa-2x pull-right highlight-text-fonts class-pointer allignGlyphicons"  aria-hidden="true" ng-click="undoCategory(category.name)"></i>
            </h3>
        </li>
        <br>
        <!--&lt;!&ndash;<input type="text" class="" placeholder="Add New Category" ng-model="newCategory">&ndash;&gt;-->

        <!--<i class="form-group has-feedback" ng-class="hasError">-->
            <!--<input type="text" class="form-control" placeholder="Add New Category" ng-model="newCategory" style="padding: 30px;margin-top: 11px;"/>-->
            <!--<i class="glyphicon glyphicon-plus form-control-feedback highlight-text-fonts class-pointer newCategoryGlyphicon" ng-click="addNewCategory(newCategory)" ></i>-->
        <!--</i>-->

    </ul>
    <div class="form-group has-feedback" ng-class="hasError">
        <input type="text" class="form-control" placeholder="Add New Category" ng-model="newCategory" style="padding: 30px;margin-top: 11px;"/>
        <i class="glyphicon glyphicon-plus form-control-feedback highlight-text-fonts class-pointer newCategoryGlyphicon" ng-click="addNewCategory(newCategory)" ></i>
    </div>

    <button type="submit" class="btn btn-block btn-primary" ng-click="updateCategory()">Update</button>
    <!--<button type="submit" class="btn btn-block btn-primary" ng-click="print()">Update</button>-->

</div>

<div ng-click="showLikesDiv($event)" >
    <h1 class="page-header highlight-text-fonts class-pointer">Your Likes
        <i class="fa fa-arrow-right pull-right fa-1x navigationalNext highlight-text-fonts class-pointer" ng-click="categoryNext($event)" ng-show="showLikes && LikeNextButton"></i>
        <i class="fa fa-arrow-left pull-right fa-1x navigationalPrevious highlight-text-fonts class-pointer" ng-click="categoryPrev($event)" ng-show="showLikes && LikePrevButton"></i>
    </h1>
</div>

<div ng-show="showLikes">

    <div ng-repeat="d in userLikesData track by $index">
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
            <div class="thumbnail" ng-click="gotoDetailPage(d.articleId,d.source)">
                <a class="class-pointer" ng-if="!(d == undefined)">
                    <img class="img-responsive " ng-src={{d.thumbnail_url}} alt="Picture Not Available">
                    <h6><label class="class-pointer">{{d.title}}</label></h6>
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-click="showCommentsDiv($event)" >
    <h1 class="page-header highlight-text-fonts class-pointer">You Commented On
        <i class="fa fa-arrow-right pull-right fa-1x navigationalNext highlight-text-fonts class-pointer" ng-click="commentNext($event)" ng-show="showComments && commentNextButton"></i>
        <i class="fa fa-arrow-left pull-right fa-1x navigationalPrevious highlight-text-fonts class-pointer" ng-click="commentPrev($event)" ng-show="showComments && commentPrevButton"></i>
    </h1>
</div>

<div ng-show="showComments">

    <div ng-repeat="d in userCommentedData track by $index">
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
            <div class="thumbnail" ng-click="gotoDetailPage(d.articleId,d.source)">
                <a class="class-pointer" ng-if="!(d == undefined)">
                    <img class="img-responsive " ng-src={{d.thumbnail_url}} alt="Picture Not Available">
                    <h6><label class="class-pointer">{{d.title}}</label></h6>
                </a>
            </div>
        </div>
    </div>
</div>

