<div class="no-padding-detail-page">
    <h2 class="detailText">
        <label> {{trustSrc(data.title)}} </label>
    </h2>

    <div class="akash">
        <iframe width='100%' height='465px' ng-src="{{trustSrc(data.source)}}" allowfullscreen frameborder="0">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>


    <button class="btn btn-primary"
            ng-click="favorite(data)">
    <span ng-show="article.likes.indexOf(loggedUser._id) > -1"
          class="glyphicon glyphicon-star"></span>
    <span ng-show="!article || !article.likes || article.likes.indexOf(loggedUser._id) == -1"
          class="glyphicon glyphicon-star-empty"></span>
    </button>

    <h4 class="detailText">
        {{trustSrc(data.description)}}

    </h4>

    <textarea name="Text1" cols="40" rows="5" placeholder='Add Comments' ng-model="comment"></textarea>
    <input class="btn btn-default" type="submit" value="Post Comment" ng-click="addComment(comment)">

    <h3>
        <label>
            Comments:
        </label>
    </h3>
    <div class="table-responsive">
        <table class="table table-striped">
                <tr ng-repeat="comment in comments">
                    <td>
                         <label>{{comment.name}}</label>
                        <br>
                                 {{comment.comments}}
                    </td>
                </tr>
        </table>
    </div>
</div>

