{{data}}

<div class="no-padding-detail-page">
    <h2 class="detailText">
        <label> {{trustSrc(data.title)}} </label>
    </h2>

    <div class="akash">
        <iframe width='100%' height='465px' ng-src="{{trustSrc(data.source)}}" allowfullscreen frameborder="0">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>

    <div>
        <a twitter data-count='horizontal' data-url='{{url}}'  data-size="medium" data-text='{{text}}' ></a>
        <br /><br />
        <div class="linkedinShare" linkedin data-url='{{url}}' data-title='{{title}}' data-summary="{{text}}" data-shares='linkedinshares'>{{linkedinshares}}</div>
        <br /><br />
        <div gplus data-size="tall" data-annotation="bubble" data-href='{{url}}' data-action='share'></div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1077257479013987";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


        <div class="fb-share-button" data-href='https://www.youtube.com/watch?v=wxkdilIURrU' data-layout="button_count" data-mobile-iframe="true"></div>
    </div>


    <button class="btn btn-primary"
            ng-click="favorite(data)">
    <span ng-show="article.likes.indexOf(loggedUser._id) > -1"
          class="glyphicon glyphicon-star"></span>
    <span ng-show="!article || !article.likes || article.likes.indexOf(loggedUser._id) == -1"
          class="glyphicon glyphicon-star-empty"></span>
    </button>

    <h4 class="detailText">
        {{trustSrc(data.description)}}

    </h4>

    <h3>
        <label>
            Comments ( {{ commentsLength }} )
        </label>
    </h3>


    <div class="table-responsive">
        <table class="table table-striped">
                <tr ng-repeat="comment in comments">
                    <td>
                         <label>{{comment.name}}</label>
                        <br>
                        {{comment.comments}}
                    </td>
                </tr>
        </table>
    </div>

    <div ng-show="noComment && !loggedUser">
        <h4>
            <label>
                <i>No comments to display, login to post comments</i>
            </label>
        </h4>
    </div>

    <div ng-show="noComment && loggedUser">
        <h4>
            <label>
                <i>No comments to display</i>
            </label>
        </h4>
    </div>

    <div ng-show="loggedUser">
        <textarea name="Text1" class="form-control" placeholder='Add Comments' ng-model="comment"></textarea>
        <br>
        <input class="btn btn-primary pull-right" type="submit" value="Post Comment" ng-click="addComment(comment)">
    </div>

</div>

