.admin-table-glyphicons-links {
    FONT-SIZE: large;
    cursor: pointer;
    vertical-align: bottom;

}

.form-table-glyphicons-links {
    FONT-SIZE:x-large;
    cursor: pointer;
    vertical-align: bottom;

}

.move-left-50px{
    right:55px;
}
.admin-table-header-links {
    padding: 5px;
    font-weight: bold;
    FONT-SIZE: large;
}

.form-horizontal .control-label {
    text-align: left !important;
}

.move-left20px{
    margin-left: 2px;
}


.nowrap {
    white-space: nowrap;
}

.admin-table-glyphicons-rows-links{
    padding: 5px;
    cursor: pointer;
    font-size: large;
}
.admin-table-columns-links{
    text-align: center;
}

.text-align-left-link{
    text-align: left;
}

.text-align-right-link{
    text-align: right;
}

.width70{
    width:70%;
}

a:hover{
    text-decoration: none;
}

hr {
    border-top: 1px solid;
}

.tbl-btns{
    padding: 25px;
}

.no-border{
    border: 0px;;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

}