.thumbnail {
    height: 137px;
    width: 100%;
    border: none;
}

.thumbnail a>img {
    height: 108.25px;
    width: 100%;
}

.container {
    width: 98% !important;
    /*margin: 10px;*/
}

.detailText{
    padding-left: 50px;
    padding-right: 50px;
}

h6 {
    margin-top: 5px;
}

.effectfront {
    border: none;
    margin: 0 auto;
}
.effectfront:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.class-pointer{
    cursor: pointer; !important;
}

.highlight-text:hover {
    color: black;
    text-decoration: underline;
}

.container-padding{
    padding: 13px;
}

.basic-title{
    background-color: whiteSmoke;
    padding: 0;
    zoom: 1;
    height: 35px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    /*background-color: #333333;*/
    /*opacity:0.8; !important;*/
}

.button-next-right{
    position: absolute;
    right: 52px;
}

.button-prev-right{
    position: absolute;
    right: 120px;
}

.no-padding-detail-page{
    margin-left: -8px; !important
}

.bkl{
    background-color: lightslategrey; !important;
}

.trend-name-color{
    font-weight: bold;
    color: #2B7BB9;
}

.trend-count-color{
    text-align: right; !important;
    color: #8899a6;
}

.trend-bkg-color-on-hover{
    background-color: grey; !important;
}

.text-align-center{
    margin-bottom:0px;
    text-align: center
}

video {
    width:100%;
    height:auto;
}

.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    /*width: 73%;*/
    margin-top: 154px;
    margin-left: 23px
}

.fixed-content-row {
    top: 0;
    bottom:0;
    position:static;
    overflow-y:scroll;
    overflow-x:hidden;
    /*width: 73%;*/
    margin-top: 51px;
    text-align: center;
}

.photos {
    -webkit-column-count: 3;
    -webkit-column-gap: 2px;
}


.searchBoxTopMargin{
    margin-top: 9px;
}

/*.photos img {*/
    /*!* Just in case there are inline attributes *!*/
    /*width: 100% !important;*/
    /*height: auto !important;*/
/*}*/

@media only screen and (min-width : 990px){
    .fixed-position{
        position: fixed;
        margin-top: -20px; !important;
    }
}

@media only screen and (min-width : 990px){
    .fixed-positionPopularTweets{
        margin-left: -16px; !important;
        margin-right: 14px; !important;
        padding: 1px; !important
    }
}