.thumbnail {
    height: 137px;
    width: 100%;
    border: none;
}

.thumbnail a>img {
    height: 108.25px;
    width: 100%;
}

.container {
    width: 98% !important;
    margin: 10px;
}

.detailText{
    padding-left: 50px;
    padding-right: 50px;
}

h6 {
    margin-top: 5px;
}

.effectfront {
    border: none;
    margin: 0 auto;
}
.effectfront:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.class-pointer{
    cursor: pointer; !important;
}

.highlight-text:hover {
    color: black;
    text-decoration: underline;
}

.container-padding{
    padding: 13px;
}

.basic-title{
    background-color: whiteSmoke;
    padding: 0;
    zoom: 1;
    height: 35px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    /*background-color: #333333;*/
    /*opacity:0.8; !important;*/
}
