<!--Header-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 fixed-position" style ='text-align: center;'>
    <h1>
        <img src="./views/trends/TwitterLogo.png" alt="logo" width="120px"/>
        <label>Popular Tweets</label>
    </h1>
</div>

<!--Trends Bigger Device-->
<div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
    <div class="fixed-content-row ">
        <div ng-repeat="location in locationsList track by $index" >

            <h3 style="margin-bottom: -15px;">
                <label>
                    {{location.location}}
                </label>
            </h3>
            <br>
            <!--<h4><label>{{timeStamps[0]}}</label></h4>-->
            <div class="panel panel-default">
            <table class="table  table-hover table-condensed ">
                <tbody>
                <tr ng-repeat="t in location.content track by $index"
                    ng-click="getTopicTweets(location.location , t.name,false)">

                    <th class="trend-name-color class-pointer">{{t.name}}</th>
                    <th class="trend-count-color class-pointer" ng-if=" t.tweet_volume != null ">{{t.tweet_volume}}
                        Tweets
                    </th>
                    <th class="trend-count-color class-pointer" ng-if=" t.tweet_volume == null "> New</th>
                    <!--<th class="trend-count-color" >{{t.promoted_content}}</th>-->
                </tr>
                </tbody>
            </table>
        </div>
            </div>


    </div></div>

<!--Trends Smaller Device-->
<div ng-if="!onlyTrends" class="col-sm-12 col-xs-12 visible-xs visible-sm">
    <div class="fixed-content-row ">
        <div ng-repeat="location in locationsList track by $index" >

            <h3 style="margin-bottom: -15px;">
                <label>
                    {{location.location}}
                </label>
            </h3>
            <br>
            <!--<h4><label>{{timeStamps[0]}}</label></h4>-->
            <div class="panel panel-default">
                <table class="table  table-hover table-condensed ">
                    <tbody>
                    <tr ng-repeat="t in location.content track by $index"
                        ng-click="getTopicTweets(location.location , t.name, true)">

                        <th class="trend-name-color class-pointer">{{t.name}}</th>
                        <th class="trend-count-color class-pointer" ng-if=" t.tweet_volume != null ">{{t.tweet_volume}}
                            Tweets
                        </th>
                        <th class="trend-count-color class-pointer" ng-if=" t.tweet_volume == null "> New</th>
                        <!--<th class="trend-count-color" >{{t.promoted_content}}</th>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Tweets-->
<div class="col-md-9 col-lg-9" >
        <span class="well fixed-content photos fixed-positionPopularTweets">
                <div  ng-repeat="content in popularTweets track by $index">
                    <blockquote class="twitter-tweet">
                        <a href=" https://twitter.com/{{ content.name}}/status/{{ content.id}}"/>
                    </blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

            <div ng-show="showSpinner">
                <span us-spinner></span>
            </div>

        </span>
</div>

<!--Tweets-->
<div ng-if="onlyTrends" class="col-sm-12 col-xs-12 visible-xs visible-sm">

        <div   ng-repeat="content in popularTweets track by $index">
            <blockquote class="twitter-tweet">
                <a href=" https://twitter.com/{{ content.name}}/status/{{ content.id}}"/>
            </blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>


    <i class="fa fa-arrow-left fa-2x" aria-hidden="true" ng-click="backToTrends()"></i>
</div>


