.thumbnail {
    height: 137px;
    width: 200px;
    border: none;
}

.thumbnail a>img {
    height: 108.25px;
    width: 192px;
}

.container {
    width: 98% !important;
    margin: 10px;
}

.detailText{
    padding-left: 50px;
    padding-right: 50px;
}

h6 {
    margin-top: 5px;
}
