<h1 class="page-header">Forms : Registration Form</h1>


<ul class="nav nav-tabs">
    <li ng-class=" {'active':$location.url() =='/forms'}" ><a href="#/forms">Forms</a></li>
    <li ng-class=" {'active':$location.url() =='/fields'}" ><a href="#/fields">Fields</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row move-left20px" ng-switch on="selection">
            <div ng-switch-when="Single Line Text"> <label>New Text Field</label> </div>
            <div ng-switch-when="Multi Line Text Field"> <label>New Text Field</label> </div>
            <div ng-switch-when="Date Field"> <label>New Date Field</label> </div>
            <div ng-switch-when="Dropdown Field"> <label>New Dropdown</label> </div>
            <div ng-switch-when="Checkboxes Field"> <label>New Checkboxes</label> </div>
            <div ng-switch-when="Radio Buttons Field"> <label>New Radio Buttons</label> </div>
        </div>

    <div class="row">
        <div ng-switch on="selection">
        <div class="col-md-6">

                <div ng-switch-when="Single Line Text">
                    <span> <input type="text" class="form-control" id="a"
                              placeholder="New Field"></span>
                </div>

                <div ng-switch-when="Multi Line Text Field">
                    <span>
                        <textarea name="Text1" cols="40" rows="5" placeholder="New Field"></textarea>
                    </span>
                </div>

                <div ng-switch-when="Date Field">
                    <span>
                        <input type="date" class="form-control" id="b" placeholder="New Date Field">
                    </span>
                </div>

                <div ng-switch-when="Dropdown Field">
                     <span> <select class="form-control">
                                <option value="Option 1">Option 1</option>
                                <option value="Option 2">Option 2</option>
                                <option value="Option 3">Option 3</option>
                             </select>
                    </span>
                </div>

                <div ng-switch-when="Checkboxes Field">
                    <span>
                        <label class="checkbox"><input type="checkbox" value="">Option A</label>
                        <label class="checkbox"><input type="checkbox" value="">Option B</label>
                        <label class="checkbox"><input type="checkbox" value="">Option C</label>
                    </span>
                </div>

                <div ng-switch-when="Radio Buttons Field">
                    <span>
                        <label class="radio"><input type="radio" name="optradio">Option A</label>
                        <label class="radio"><input type="radio" name="optradio">Option B</label>
                        <label class="radio"><input type="radio" name="optradio">Option C</label>
                    </span>
                </div>

            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3 text-align-right-link" ng-if="selection">
            <a><span class = "glyphicon glyphicon-pencil form-table-glyphicons-links "></span></a>
            <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links"></span></a>
            <a><span class = "glyphicon glyphicon-remove form-table-glyphicons-links"></span></a>
            <a><span class = "glyphicon glyphicon-align-justify form-table-glyphicons-links"></span></a>
        </div>
    </div>


        <label>Add New Field:</label>
        <div class="row">
            <div class="col-md-6">
                <select ng-model="selection" ng-options="item for item in items"> </select>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links move-left-50px" ng-click="addField(model.fieldType)"></span></a>
            </div>
        </div>

    </div>
</div>
