<h1 class="page-header">Forms : Registration Form</h1>


<ul class="nav nav-tabs">
    <li ng-class=" {'active':$location.url() =='/forms'}" ><a href="#/forms">Forms</a></li>
    <li ng-class=" {'active':$location.url() =='/fields'}" ><a href="#/fields">Fields</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-body">
        <label>First Name:</label>
        <div class="row">
            <div class="col-md-6">
           <span> <input type="text" class="form-control" id="inputfirstname"
                         placeholder="First Name"></span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-pencil form-table-glyphicons-links "></span></a>
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-remove form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-align-justify form-table-glyphicons-links"></span></a>
            </div>
        </div>
        <br>
        <label>Last Name:</label>
        <div class="row">
            <div class="col-md-6">
           <span> <input type="text" class="form-control" id="inputlastname"
                         placeholder="First Name"></span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-pencil form-table-glyphicons-links "></span></a>
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-remove form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-align-justify form-table-glyphicons-links"></span></a>
            </div>
        </div>
        <br>
        <label>Date of Birth:</label>
        <div class="row">
            <div class="col-md-6">
           <span> <input type="date" class="form-control" id="inputGender"
                         placeholder="Select Date"></span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-pencil form-table-glyphicons-links "></span></a>
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-remove form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-align-justify form-table-glyphicons-links"></span></a>
            </div>
        </div>
        <br>
        <label>Gender:</label>
        <div class="row">
            <div class="col-md-6">
           <span> <select class="form-control">
               <option value="Male">Male</option>
               <option value="Female">Female</option>
           </select>
           </span>
            </div>

            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-pencil form-table-glyphicons-links "></span></a>
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-remove form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-align-justify form-table-glyphicons-links"></span></a>
            </div>
        </div>

        <br>
        <label>Roles:</label>
        <div class="row">
            <div class="col-md-6 move-left20px">
            <span>
                <label class="checkbox"><input type="checkbox" value="">Admin</label>
                <label class="checkbox"><input type="checkbox" value="">Student</label>
                <label class="checkbox"><input type="checkbox" value="">User</label>
            </span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-pencil form-table-glyphicons-links "></span></a>
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-remove form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-align-justify form-table-glyphicons-links"></span></a>
            </div>
        </div>

        <br>
        <label>License Agreement:</label>
        <div class="row">
            <div class="col-md-6 move-left20px">
            <span>
                <label class="radio"><input type="radio" name="optradio">Yes</label>
                <label class="radio"><input type="radio" name="optradio">No</label>
            </span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-pencil form-table-glyphicons-links "></span></a>
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-remove form-table-glyphicons-links"></span></a>
                <a><span class = "glyphicon glyphicon-align-justify form-table-glyphicons-links"></span></a>
            </div>
        </div>
        <hr>

        <label>Add New Field:</label>
        <div class="row">
            <div class="col-md-6">
            <span> <select class="form-control" ng-model="model.fieldType">
                <option value="Single Line Text">Single Line Text</option>
                <option value="Date">Date</option>
                <option value="Dropdown">Dropdown</option>
                <option value="Checkboxes">Checkboxes</option>
                <option value="Radio buttons">Radio buttons</option>
                <option value="Paragraph Text Field">Paragraph Text Field</option>

            </select>
                </span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-align-right-link">
                <a><span class = "glyphicon glyphicon-plus form-table-glyphicons-links move-left-50px" ng-click="addField(model.fieldType)"></span></a>
            </div>
        </div>

    </div>
</div>
