<h3>Admin</h3>

<h3>User List</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <td>&nbsp;</td>
            <td >
                <span class="sortorder" ng-show="predicate === 'username'" ng-class="{reverse:reverse}"></span>
                <span ng-click="order('username')">Username</span>
                <input ng-model="user.username" class="form-control" placeholder="username"/>
            </td>
            <td>
                <span>Password</span>
                <input ng-model="user.password" class="form-control" type="password" placeholder="password"/>
            </td>
            <td>
                <span class="sortorder" ng-show="predicate === 'firstName'" ng-class="{reverse:reverse}"></span>
                <span ng-click="order('firstName')">First Name</span>
                <input ng-model="user.firstName" class="form-control" placeholder="first"/>
            </td>
            <td>
                <span class="sortorder" ng-show="predicate === 'lastName'" ng-class="{reverse:reverse}"></span>
                <span ng-click="order('lastName')">Last Name</span>
                <input ng-model="user.lastName" class="form-control" placeholder="last"/>
            </td>
            <td>
                Roles
                <input ng-model="user.roles" class="form-control" placeholder="roles"/>
            </td>

            <td class=""><button ng-click="add(user)" class="btn btn-primary action-padding">&plus;</button>
            <td class=""><button ng-click="update(user)" class="btn btn-success action-padding">&check;</button>
        </tr>

        </tr>
        <!--<tr ng-repeat="friend in friends | orderBy:predicate:reverse">-->
        <tr ng-repeat="user in users | orderBy:predicate:reverse" >
            <td>{{user._id}}</td>
            <td>{{user.username}}</td>
            <td>&nbsp;</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roles}}</td>
            <td><button ng-click="remove(user)" class="btn btn-danger ">X</button>
            <td><button ng-click="select(user)" class="btn btn-success">...</button>
        </tr>
    </table>
</div>
<div ng-if="error" class="alert alert-danger text-center">
    <p>{{error}}</p>
</div>