
    <h1 class="page-header">Admin</h1>
    <h2> Users </h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped nowrap">
        <tr>
            <td>
                <a class="admin-table-glyphicons-links glyphicon glyphicon-triangle-bottom"></a>
                <span class="admin-table-header-links">Username</span> </td>
            <td>
            <a class="admin-table-glyphicons-links glyphicon glyphicon-triangle-bottom"></a>
            <span class="admin-table-header-links">Password</span> </td>
            <td>
                <a class="admin-table-glyphicons-links glyphicon glyphicon-triangle-bottom"></a>
                <span class="admin-table-header-links">Role</span> </td>
            <td>
                <a class="admin-table-glyphicons-links glyphicon glyphicon-triangle-bottom"></a>
                <span class="admin-table-header-links">Action</span> </td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" id="inputUsername" placeholder="username"></td>
            <td><input type="password" class="form-control" id="inputPassword" placeholder="password"></td>
            <td><input type="text" class="form-control" id="inputRole" placeholder="role1,role2"></td>
            <td class ="admin-table-columns-links">
                <a><span class = "glyphicon glyphicon-plus admin-table-glyphicons-rows-links"></span></a>
                <a><span class = "glyphicon glyphicon-ok admin-table-glyphicons-rows-links"></span></a></td>
        </tr>
        <tr>
            <td><label>alice</label></td>
            <td></td>
            <td><label>student</label></td>
            <td class ="admin-table-columns-links">
                <a><span class = "glyphicon glyphicon-remove admin-table-glyphicons-rows-links"></span></a>
                <a><span class = "glyphicon glyphicon-pencil admin-table-glyphicons-rows-links"></span></a></td>
        </tr>
        <tr>
            <td><label>bob</label></td>
            <td></td>
            <td><label>faculty | admin</label></td>
            <td class ="admin-table-columns-links">
                <a><span class = "glyphicon glyphicon-remove admin-table-glyphicons-rows-links"></span></a>
                <a><span class = "glyphicon glyphicon-pencil admin-table-glyphicons-rows-links"></span></a></td>
        </tr>
        <tr>
            <td><label>charlie</label></td>
            <td></td>
            <td></td>
            <td class ="admin-table-columns-links">
                <a><span class = "glyphicon glyphicon-remove admin-table-glyphicons-rows-links"></span></a>
                <a><span class = "glyphicon glyphicon-pencil admin-table-glyphicons-rows-links"></span></a></td>
        </tr>
    </table>
</div>

