
<div ng-init="getHomeContent()"></div>
<!--<div ng-if="!data && !entertaintmentdata">-->
<!--<span us-spinner></span>-->
<!--</div>-->

<!--<ul ui-sortable="sortableOptions" ng-model="categories">-->

<!--<li style="list-style: none"  ng-repeat="category in categories">-->
<button type="button" class="btn btn-primary" ng-click="viewModal()">Personalise</button>
<div ng-if="isModalVisible">

    <div class="modal modal-dialog" role="dialog" >
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5><label>Personalize Your Feed</label></h5>
            </div>

            <div class="modal-body">

                <label ng-repeat="(color,enabled) in colors">
                    <input type="checkbox" ng-model="colors[color]"> {{color}}
                </label>
                <p>colors: {{colors}}</p>




            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="turnModalOff()">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="fromModal(value._id,field,value.type)">Close</button>
            </div>
        </div>
    </div>

</div>


<div ng-repeat="category in categories">


    <h4><label ng-click="getCategoryDetails(category.name)" class="class-pointer highlight-text ">
        {{category.name}}
    </label></h4>

    <!--<span ng-class=" {'active':$location.url() =='/home'} " ><a class="navbar-brand" href="#/home">Mashup</a></span>-->

    <div  ng-repeat="d in category.items track by $index">

        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
            <div class="thumbnail" ng-click="gotoDetailPage(d.id)">
                <a class="class-pointer">
                    <img class="img-responsive " ng-src={{d.picture}} alt="Picture Not Available">
                    <h6><label class="class-pointer">{{d.title}}</label></h6>
                </a>
            </div>
        </div>
    </div>
</div>

<!--</li>-->
<!--</ul>-->